In [2]:
import pandas as pd 
input ="myweatherfile.csv" 
df=pd.read_csv(input)
df

             city      lat       lon    temp  humidity  clouds  wind country
0          albany  42.6001  -73.9662  285.11        64     100  3.10      US
1          hobart -42.8794  147.3294  284.68        76      75  4.63      AU
2        kamyzyak  46.1100   48.0736  287.09        54       0  6.00      RU
3        carrboro  35.9101  -79.0753  292.58        46      40  2.57      US
4    ponta do sol  32.6667  -17.1000  289.32        82     100  0.45      PT
..            ...      ...       ...     ...       ...     ...   ...     ...
675         xinye  32.5186  112.3522  288.11        73     100  1.52      CN
676       te anau -45.4167  167.7167  287.11        77      95  1.33      NZ
677       chicama  -7.8447  -79.1469  293.15        88      99  4.12      PE
678          sile  41.1754   29.6133  282.07        76      75  2.06      TR
679     ylivieska  64.0833   24.5500  272.41        73     100  1.64      FI

[680 rows x 8 columns]

In [3]:
import gmaps
#from api_keys import g_key
gmaps.configure(api_key="AIzaSyAG6dSxHlBeKbLVbHuyrv1YxSm2U9vUCWM")

In [4]:
l1=df[["lat","lon"]]
l1

         lat       lon
0    42.6001  -73.9662
1   -42.8794  147.3294
2    46.1100   48.0736
3    35.9101  -79.0753
4    32.6667  -17.1000
..       ...       ...
675  32.5186  112.3522
676 -45.4167  167.7167
677  -7.8447  -79.1469
678  41.1754   29.6133
679  64.0833   24.5500

[680 rows x 2 columns]

In [5]:
import matplotlib.pyplot as plt 
humidity=df['humidity'].astype(int)
print(humidity)
fig=gmaps.figure()
#heatmaplayer=gmaps.heatmap_layer(l1,weights=humidity, dissipating=False,max_intensity=5,point_radius=1)
heatmaplayer=gmaps.heatmap_layer(l1,weights=humidity)
fig.add_layer(heatmaplayer)
fig

0      64
1      76
2      54
3      46
4      82
       ..
675    73
676    77
677    88
678    76
679    73
Name: humidity, Length: 680, dtype: int32

Figure(layout=FigureLayout(height='420px'))

In [6]:
fdf=df
fdf=fdf.loc[(((fdf['temp']-273.15)*9/5+32)<80)&(((fdf['temp']-273.15)*9/5+32)>70)]
print(fdf)
fdf=fdf.loc[fdf['wind']<10]
print(fdf)
fdf=fdf.loc[fdf['clouds']==0]
fdf=fdf.dropna()
print(fdf)

                  city      lat       lon    temp  humidity  clouds  wind  \
13        puerto ayora  -0.7393  -90.3518  297.77        87      55  1.71
19               kapaa  22.0752 -159.3190  296.36        60      90  7.20
20         east london -33.0153   27.9116  294.60        84      93  1.50
27     arraial do cabo -22.9661  -42.0278  298.01        79       5  6.21
35      saint-philippe -21.3585   55.7679  296.01        65       0  2.06
..                 ...      ...       ...     ...       ...     ...   ...
658         porto belo -27.1578  -48.5531  295.64        88       0  1.03
659  sao joao da barra -21.6403  -41.0511  296.78        83       0  4.56
663          venezuela   8.0000  -66.0000  299.42        76     100  2.42
665           koregaon  18.6500   74.0833  298.87        42      61  1.91
674             noumea -22.2763  166.4572  299.15        89      90  4.12

    country
13       EC
19       US
20       ZA
27       BR
35       RE
..      ...
658      BR
659      BR
663      VE
665      IN
674      NC

[164 rows x 8 columns]
                  city      lat       lon    temp  humidity  clouds  wind  \
13        puerto ayora  -0.7393  -90.3518  297.77        87      55  1.71
19               kapaa  22.0752 -159.3190  296.36        60      90  7.20
20         east london -33.0153   27.9116  294.60        84      93  1.50
27     arraial do cabo -22.9661  -42.0278  298.01        79       5  6.21
35      saint-philippe -21.3585   55.7679  296.01        65       0  2.06
..                 ...      ...       ...     ...       ...     ...   ...
658         porto belo -27.1578  -48.5531  295.64        88       0  1.03
659  sao joao da barra -21.6403  -41.0511  296.78        83       0  4.56
663          venezuela   8.0000  -66.0000  299.42        76     100  2.42
665           koregaon  18.6500   74.0833  298.87        42      61  1.91
674             noumea -22.2763  166.4572  299.15        89      90  4.12

    country
13       EC
19       US
20       ZA
27       BR
35       RE
..      ...
658      BR
659      BR
663      VE
665      IN
674      NC

[163 rows x 8 columns]
                         city      lat       lon    temp  humidity  clouds  \
35             saint-philippe -21.3585   55.7679  296.01        65       0
64                     gwadar  25.1216   62.3254  297.83        71       0
82                 vila velha -20.3297  -40.2925  296.15        88       0
149                the valley  18.2170  -63.0578  297.45        64       0
169                   bubaque  11.2833  -15.8333  298.02        72       0
214              ballitoville -29.5390   31.2144  295.73        94       0
220                 aragarcas -15.8975  -52.2508  298.15        73       0
285              saint-pierre -21.3393   55.4781  296.53        65       0
290                 inhambane -23.8650   35.3833  295.46        82       0
392                     nagod  24.5667   80.6000  299.10        38       0
398                 bundaberg -24.8500  152.3500  295.98        35       0
401                   cayenne   4.9333  -52.3333  299.78        94       0
411                  oussouye  12.4850  -16.5469  295.64        88       0
419                    nagaur  27.2000   73.7333  298.56         8       0
427                 tecoanapa  16.5167  -98.7500  299.60        68       0
428                  celestun  20.8667  -90.4000  299.68        85       0
431        comodoro rivadavia -45.8667  -67.5000  295.15        46       0
502    san diego de los banos  22.6467  -83.3697  298.13        82       0
538  rio verde de mato grosso -18.9181  -54.8442  297.32        68       0
571           vieux-habitants  16.0589  -61.7659  296.15        78       0
635                     nizwa  22.9333   57.5333  295.56        55       0
636                bom jardim  -7.7958  -35.5872  296.15        88       0
658                porto belo -27.1578  -48.5531  295.64        88       0
659         sao joao da barra -21.6403  -41.0511  296.78        83       0

     wind country
35   2.06      RE
64   4.33      PK
82   1.54      BR
149  3.09      AI
169  5.94      GW
214  1.54      ZA
220  0.45      BR
285  2.06      RE
290  2.78      MZ
392  1.07      IN
398  5.14      AU
401  1.82      GF
411  2.06      SN
419  2.02      IN
427  4.08      MX
428  4.19      MX
431  8.23      AR
502  2.96      CU
538  1.11      BR
571  2.06      GP
635  0.24      OM
636  2.57      BR
658  1.03      BR
659  4.56      BR

In [7]:
hoteldf=pd.DataFrame(df,columns=["city","country","lat","lon"])
hoteldf

             city country      lat       lon
0          albany      US  42.6001  -73.9662
1          hobart      AU -42.8794  147.3294
2        kamyzyak      RU  46.1100   48.0736
3        carrboro      US  35.9101  -79.0753
4    ponta do sol      PT  32.6667  -17.1000
..            ...     ...      ...       ...
675         xinye      CN  32.5186  112.3522
676       te anau      NZ -45.4167  167.7167
677       chicama      PE  -7.8447  -79.1469
678          sile      TR  41.1754   29.6133
679     ylivieska      FI  64.0833   24.5500

[680 rows x 4 columns]

In [8]:
import requests
hoteldf["hotel"]=""
cord=f"{hoteldf['lat'][0]},{hoteldf['lon'][0]}"
radius=5000
params={"location":cord,"keyword":"hotel","radius":radius,"type":"hotel","key":"AIzaSyAG6dSxHlBeKbLVbHuyrv1YxSm2U9vUCWM"}
url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
response=requests.get(url,params=params)
print(response.json())

{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}

In [10]:
import json
import numpy as np
hotelname=[]
for index,row in hoteldf.iterrows():
    lat=row["lat"]
    lon=row["lon"] 
    params["location"]=f"{lat},{lon}"
    nameaddress=requests.get(url,params=params) 
    nameaddress=nameaddress.json()
  #  print(json.dumps(nameaddress,indent=4,sort_keys=True))
    try:
       hotelname.append(nameaddress['results'][0]['name'])
    except IndexError:
       hotelname.append(np.nan)
# print(hotelname)

In [11]:
hoteldf['hotel']=hotelname
hoteldf.dropna()
hoteldf.to_csv('hotel.csv')

In [14]:
infotemplate="""
<dl>
<dt>name</dt><dd>{hotel}</dd>
<dt>city</dt><dd>{city}</dd>
<dt>country</dt><dd>{country}</dd>
</dl>
"""
hotelinfo=[infotemplate.format(**row) for index,row in hoteldf.iterrows()]
locations=hoteldf[["lat","lon"]]

In [15]:
locations

         lat       lon
0    42.6001  -73.9662
1   -42.8794  147.3294
2    46.1100   48.0736
3    35.9101  -79.0753
4    32.6667  -17.1000
..       ...       ...
675  32.5186  112.3522
676 -45.4167  167.7167
677  -7.8447  -79.1469
678  41.1754   29.6133
679  64.0833   24.5500

[680 rows x 2 columns]

In [17]:
markers=gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))